@font-face {
  font-family: 'Tw Cen MT';
  src: url('@fonts/TwCenMTStd.otf') format("opentype"),
}

@font-face {
  font-family: 'Tw Cen MT Bold';
  src: url('@fonts/TwCenMTStdBold.otf') format("opentype"),
}

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

//fonts
$primary-font: 'Tw Cen MT', sans-serif;
$font-bold: 'Tw Cen MT Bold', sans-serif;

$primary-font-ar: 'Almarai', sans-serif;
