// Colors
$brand-primary : #C3CC6F;
$brand-secondary : #808839;
$brand-blue100 : #78808E;
$brand-blue200 : #697182;
$brand-blue400 : #3F495E;
$brand-blue700 : #212D45;
$brand-blue800 : #121F38;
$brand-black   : #000000;
$brand-gray    : #b4b5b8;
$brand-white   : #ffffff;
// list with all theme colors to be reused in @each
$theme-all-color:
  // color name       color brand               text color            secondry text color
  "primary"          	$brand-primary            $brand-white          $brand-white,
  "secondary"         $brand-secondary          $brand-white          $brand-white,
  "blue100"          	$brand-blue100            $brand-white          $brand-white,
  "blue200"          	$brand-blue200            $brand-white          $brand-white,
  "blue400"          	$brand-blue400            $brand-white          $brand-white,
  "blue700"          	$brand-blue700            $brand-white          $brand-white,
  "blue800"          	$brand-blue800            $brand-white          $brand-white,
  "black"          		$brand-black              $brand-white          $brand-white,
  "white"          		$brand-white              $brand-primary        $brand-black,
  "gray"          		$brand-gray               $brand-secondary      $brand-white;

$ui-fonts: (
  120: 120,
  110: 110,
  100: 100,
  98: 98,
  96: 96,
  94: 90,
  92: 92,
  90: 90,
  88: 88,
  86: 86,
  84: 84,
  80: 80,
  78: 78,
  76: 76,
  75: 75,
  74: 74,
  72: 72,
  70: 70,
  68: 68,
  65: 65,
  66: 66,
  64: 64,
  62: 62,
  60: 60,
  58: 58,
  57: 57,
  56: 56,
  54: 54,
  52: 52,
  50: 50,
  48: 48,
  47: 47,
  46: 46,
  45: 45,
  44: 44,
  43: 43,
  42: 42,
  41: 41,
  40: 40,
  39: 39,
  38: 38,
  37: 37,
  36: 36,
  35: 35,
  34: 34,
  33: 33,
  32: 32,
  31: 31,
  30: 30,
  29: 29,
  28: 28,
  27: 27,
  26: 26,
  25: 25,
  24: 24,
  23: 23,
  22: 22,
  21: 21,
  20: 20,
  19: 19,
  18: 18,
  17: 17,
  16: 16,
  15: 15,
  14: 14,
  13: 13,
  12: 12,
  11: 11,
  10: 10,
  8: 8,
);

$ui-fonts-weights: (
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$spacer-variations: (
  5: 5,
  10: 10,
  11: 11,
  12: 12,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
  45: 45,
  48: 48,
  50: 50,
  55: 55,
  60: 60,
  65: 65,
  70: 70,
  75: 75,
  80: 80,
  85: 85,
  90: 90,
  95: 95,
  100: 100,
  105: 105,
  110: 110,
  115: 115,
  120: 120,
  125: 125,
  130: 130,
  135: 135,
  140: 140,
  145: 145,
  150: 150,
  155: 155,
  160: 160,
  165: 165,
  170: 170,
  175: 175,
  180: 180,
  185: 185,
  190: 190,
  195: 195,
  200: 200,
  210: 210,
  215: 215,
  220: 220,
  230: 230,
  250: 250,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
);

$rotations: (
  0: 0,
  45: 45,
  90: 90,
  180: 180,
  270: 270,
  360: 360
);

$z-indexes: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  99: 99,
  999: 999,
  9999: 9999,
);
