footer {
  position: relative;
  background: #212121;
  backdrop-filter: blur(21.100000381469727px);

  .logo {
    img {
      height: 66px;
    }
  }

  .footer-menu {
    li {
      a {
        display: inline-block;
        position: relative;
        color: #E7E7E7;
        padding: 0;
        font-size: 16px !important;
        font-family: $primary-font;

        @include media-breakpoint-down(lg) {
          font-size: 12px !important;
        }

        &:focus,
        &:hover {
          color: #E7E7E7;
          opacity: 0.85;
        }
      }
    }

    &.navbar-nav {
      gap: 30px;

      li {
        width: 45%;
        float: left;

        @include media-breakpoint-up(lg) {
          margin: 0;
        }

        @include media-breakpoint-down(lg) {
          width: 40%;
        }
      }

      @include media-breakpoint-down(md) {
        gap: 0;
      }
    }
  }
}
