.card-services {
  height: 430px;

  @include media-breakpoint-down(md) {
    height: 300px;
  }

  .image-back {
    object-fit: cover;
    transition: all 0.35s ease-in-out;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 140px;
    padding: 1rem;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }

  &:hover {
    .image-back {
      transform: scale(1.15);
    }
  }
}

.search-form {
  max-width: 420px;
  flex: 1;
  margin-left: auto;

  [dir='rtl'] & {
    margin-right: auto;
    margin-left: 0;
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;

    .search-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .search-input {
      width: 100%;
      padding: 12px 15px 12px 50px;
      border-radius: 50px;
      border: 1px solid #ddd;
      background: #EFEFEF;
      font-size: 15px;
      color: $brand-black;
      outline: none;
      transition: all 0.3s ease;

      &::placeholder {
        color: #23232387;
        font-weight: 400;
      }

      &:focus {
        border-color: #aaa;
        background: #fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
