.contact-form {
  margin-top: -80px;

  .wrraper {
    position: relative;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column-reverse;
    }

    .form-wrraper {
      width: 100%;

      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
      }

      .form {
        z-index: 9;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 4px 3px 46.5px 0px rgba(0, 0, 0, 0.05);
        padding: 28px;
      }
    }

    .map {
      .acf-map {
        overflow: hidden;
        min-height: 100vh;
        clip-path: polygon(6% 0%, 100% 0, 100% 100%, 0% 100%);

        [dir="rtl"] & {
          clip-path: polygon(0% 0%, 94% 0, 100% 100%, 0% 100%);
        }

        @include media-breakpoint-down(md) {
          min-height: 70vh;
          clip-path: unset;

          [dir="rtl"] & {
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
          }
        }
      }
    }
  }
}

.modal.show .modal-dialog {
    transform: none;
    z-index: 9999;
}
