.fk-group-history {
  position: relative;
  background: linear-gradient(to right, #152946 40%, #1f3b6c 75%, #2c5494 90%, #3465AC 100%);
  min-height: 75vh;
  padding: 0 6%;
  overflow: hidden;
  display: flex;
  align-items: center;

  .vector-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 850px;
    z-index: 2;
  }

  .container {
    z-index: 1;
    margin: 1% 2%;

  }


  .image {
    max-height: 320px;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
  }

}
