.form-section {
  padding: 60px 0;
  background-color: #f8f9fa;

  .gform-theme--framework
    .gfield--type-image_choice.gfield--image-choice-appearance-card
    .gchoice:where(:has(input:checked))::after {
    background-color: $brand-primary;
  }

  .gform-theme--framework
    .gfield--type-image_choice.gfield--image-choice-appearance-card
    .gchoice:focus-within,
  .gform-theme--framework
    .gfield--type-image_choice.gfield--image-choice-appearance-no-card
    .gchoice:focus-within
    .gfield-choice-image-wrapper {
    --gf-local-border-color: $brand-primary;
    --gf-local-outline-color: $brand-primary;
    --gf-local-outline-width: 0;
  }

  .gform_wrapper {
    .gf_page_steps {
      justify-content: center;
    }
    .ginput_container_image_choice {
      .gfield_radio {
        display: flex;
        flex-wrap: wrap;

        .gchoice {
          flex: 0 0 100%;
          max-width: 100%;

          @media (min-width: 768px) {
            flex: 0 0 48%;
            max-width: 48%;
          }

          .gfield-image-choice-wrapper-outer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            cursor: pointer;
            position: relative;

            .gfield-choice-image-wrapper {
              max-width: 50px;
              margin: 0;
            }
          }

          .gfield-image-choice-wrapper-inner {
            .gfield-choice-input {
              position: absolute;
              border-radius: 50%;
              width: 35px;
              min-height: 35px;
              padding: 0;
              right: 20px;
              left: auto;
              top: 23px;
            }

            .gform-field-label {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .gform_page_footer {
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        @extend .btn-primary;
        padding: 10px 20px;
      }
    }
  }
}
