.goals-in-numbers {
  .goal-card {
    border-radius: 20px;
    padding: 12% 5%;

  }
  .underline-secondary {
    text-decoration: underline;
    text-decoration-color: $brand-gray;
  }

  .goal-icon {
    height: 4rem;
  }

  .goal-number {
    font-weight: bold;
    line-height: 1.2;
  }
}
