.goals-in-numbers {
  .goal-card {
    border-radius: 20px;
    padding: 12% 5%;
  }

  .goal-icon {
    height: 4rem;
  }

  .goal-symbol {
    height: 3rem;
  }

  .goal-number {
    font-weight: bold;
    line-height: 1.2;
  }
}
