.services-slider{
  .slider-cards {
    .item {
      a {
        .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: end;
          position: relative;
          overflow: hidden;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transition: background-size 0.3s ease-in-out;
          min-height: 450px;

          @include media-breakpoint-down(md) {
            min-height: 300px;
          }

          &::before,
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
          }

          &::before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.92%, rgba(0, 0, 0, 0.64) 72.55%);
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
          }

          &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.92%, rgba(0, 0, 0, 0.64) 72.55%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }

          .title {
            font-size: 28px;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-down(lg) {
              font-size: 18px;
            }
          }

          .desc {
            .short {
              display: block;
              max-height: 95px;
              overflow: hidden;
              font-size: 15px;
              margin-bottom: 0;
              transition: all 0.3s ease-in-out;

              @include media-breakpoint-down(lg) {
                font-size: 13px;
                max-height: 80px;
              }
            }
          }

          .btn-more {
              opacity: 0;
              height: 0;
              transition: all 0.5s ease-in-out;
          }

          &:hover {
            background-size: 110% 110%;

            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
            }

            .title {
              font-size: 30px;

              @include media-breakpoint-down(lg) {
                font-size: 20px;
              }
            }

            .desc {
              .short {
                margin-bottom: 20px;
              }
            }

            .btn-more {
                opacity: 1;
                height: 22.4px !important;
            }
          }
        }
      }
    }
  }
}
