.success-journey {
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
  }

  .timeline-container {
    display: flex;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* For Firefox */
    scrollbar-width: none;
    /* For IE, Edge */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari */
    }
  }

  .timeline-years {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 75vh;
    min-width: 100px;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 99;

    @include media-breakpoint-down(lg) {
      min-width: 120px;
    }
  }

  .timeline-years::-webkit-scrollbar {
    display: none;
  }

  .year {
    position: relative;
    color: $brand-white;
    min-height: 25vh;
    line-height: 25vh;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;

    &::before {
      content: '';
      position: absolute;
      right: 100px;
      top: 0;
      bottom: 0;
      width: 5px;
      // background: rgba(248, 249, 238, 1);
      background: linear-gradient(
        to bottom,
        rgb(248, 249, 238) 100%,
        rgb(248, 249, 238) 100%
      );
      transition: all 0.3s ease-in-out;

      @include media-breakpoint-down(lg) {
        right: 20px;
        width: 3px;
      }
    }

    .dot {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: rgba(248, 249, 238, 1);
      border-radius: 50%;
      position: absolute;
      right: 88px;
      top: 50%;
      transform: translate(0%, -50%);

      @include media-breakpoint-down(lg) {
        width: 15px;
        height: 15px;
        right: 15px;
      }
    }

    .text {
      color: rgba(248, 249, 238, 1);
      position: absolute;
      right: 170px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 400;
      font-family: $primary-font;

      [dir="rtl"] & {
        font-family: $primary-font-ar;
      }

      @include media-breakpoint-down(lg) {
        right: 40%;
        top: 50%;
        transform: translate(0%, -50%);
      }
    }

    &.active {
      &::before {
        // background: #c3cc6f;
        background: linear-gradient(
          to bottom,
          rgb(248, 249, 238) 0%,
          #c3cc6f 35%,
          #c3cc6f 65%,
          rgb(248, 249, 238) 100%
        );
      }

      .text {
        color: #c3cc6f;
        font-family: $font-bold;
        font-weight: 700;
      }

      .dot {
        background: #c3cc6f;

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 5px solid #c3cc6f;

          @include media-breakpoint-down(lg) {
            width: 45px;
            height: 45px;
            border: 3px solid #c3cc6f;
          }
        }
      }
    }
  }

  .timeline-content {
    flex: 1;
    height: 75vh;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .event {
      min-height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @include media-breakpoint-down(lg) {
        margin: 20px 0;
      }

      .wrraper {
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 1);
        backdrop-filter: blur(20px);
        padding: 30px;

        .content {
          p {
            color: #FAFAFB;
            @extend.font-24;
            @extend.mt-2;
            @extend.mb-2;
          }
        }

        .images {
          .img {
            height: 170px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down(md) {
              height: 120px;
            }
          }
        }

        @include media-breakpoint-down(lg) {
          padding: 15px;
        }
      }

      // &.active {
      //   &::before {
      //     content: '';
      //     position: absolute;
      //     top: 50%;
      //     left: -90px;
      //     transform: translate(0, -50%);
      //     width: 90px;
      //     height: 160px;
      //     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='162' viewBox='0 0 100 162' fill='none' xmlns='https://www.w3.org/2000/svg'%3E %3CforeignObject x='-19.0484' y='-19.3694' width='138.548' height='200.588'%3E%3Cdiv xmlns='https://www.w3.org/1999/xhtml' style='backdrop-filter:blur(10px)%3Bclip-path:url(%23bgblur_0_1152_72_clip_path)%3Bheight:100%25%3Bwidth:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Cg data-figma-bg-blur-radius='20'%3E %3Cpath d='M13.0275 103.132C8.70205 103.471 4.6474 103.59 1 103.535C5.12543 103.134 9.13527 103.01 13.0275 103.132C46.4265 100.52 95.9727 84.8882 98.8671 36.5749C98.9114 10.7571 99 -26.2873 99 32.0776C99 33.6073 98.9551 35.1062 98.8671 36.5749V161C89.323 141.324 59.586 104.598 13.0275 103.132Z' fill='white' fill-opacity='0.15'/%3E %3Cpath d='M98.8671 36.5749C95.5978 91.1453 32.8105 104.021 1 103.535C54.4728 98.3378 88.5251 139.68 98.8671 161V36.5749ZM98.8671 36.5749C98.9551 35.1062 99 33.6073 99 32.0776C99 -26.2873 98.9114 10.7571 98.8671 36.5749Z' stroke='white'/%3E %3C/g%3E %3Cdefs%3E %3CclipPath id='bgblur_0_1152_72_clip_path' transform='translate(19.0484 19.3694)'%3E%3Cpath d='M13.0275 103.132C8.70205 103.471 4.6474 103.59 1 103.535C5.12543 103.134 9.13527 103.01 13.0275 103.132C46.4265 100.52 95.9727 84.8882 98.8671 36.5749C98.9114 10.7571 99 -26.2873 99 32.0776C99 33.6073 98.9551 35.1062 98.8671 36.5749V161C89.323 141.324 59.586 104.598 13.0275 103.132Z'/%3E %3C/clipPath%3E%3C/defs%3E %3C/svg%3E");
      //   }
      // }
    }
  }
}
